@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<WebPrueba.Models.Person>

@{
    Layout = "_Layout";
    ViewBag.Title = "Personas";
}
  
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Personas</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="btn btn-primary js-btn-add-person" style="margin-bottom: 10px;">
            <i class="glyphicon glyphicon-user"></i>
            <span>Agregar Persona</span>
        </a>
    
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table" id="personsTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Email</th>
                    <th>Opciones</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

 